name: Build and Deploy Backend

on:
  push:
    branches: [ "main" ]

jobs:

  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - name: Set up job
        uses: actions/checkout@v3

      - name: Build backend without tests
        run: |
          cd backend
          mvn -DskipTests clean package

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          docker build -t ghcr.io/cesarcanro1/proyecto-backend:latest ./backend
          docker push ghcr.io/cesarcanro1/proyecto-backend:latest

      - name: Deploy to K8s
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            sudo microk8s kubectl -n proyecto-web set image deployment/backend backend=ghcr.io/cesarcanro1/proyecto-backend:latest
            sudo microk8s kubectl -n proyecto-web rollout restart deployment backend
